---
import Layout from '../layouts/Layout.astro';
import CallCTA from '~/components/CallCTA.astro';
import { BUSINESS } from '~/data/business';

const title = `Book a Samsung Refrigerator Repair | ${BUSINESS.phoneDisplay}`;
const description = `Book Samsung refrigerator repair online 24/7, or call ${BUSINESS.phoneDisplay} during service hours (${BUSINESS.hoursDisplay}).`;
---

<Layout title={title} description={description}>
  <div class="maintext">
    <h2>Book Samsung Refrigerator Repair</h2>
    <p>
      Booking is open 24/7 through the form below. Prefer to talk to someone? Call
      <a style="color:#fff; font-weight:700;" href={BUSINESS.phoneTel}>{BUSINESS.phoneDisplay}</a>
      during service hours ({BUSINESS.hoursDisplay}).
    </p>
    <iframe
      id="JotFormIFrame-233135002315136"
      title="Samsung Refrigerator Repair Booking Form"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allowfullscreen="true"
      allow="geolocation; microphone; camera"
      src="https://form.jotform.com/233135002315136"
      frameborder="0"
      style="min-width:100%;max-width:100%;height:539px;border:none;"
      scrolling="no"
    ></iframe>
    <script type="text/javascript" set:html={`
      var ifr = document.getElementById("JotFormIFrame-233135002315136");
      if (ifr) {
        var src = ifr.src;
        var iframeParams = [];
        if (window.location.href && window.location.href.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
        }
        if (src && src.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
          src = src.substr(0, src.indexOf("?"));
        }
        iframeParams.push("isIframeEmbed=1");
        ifr.src = src + "?" + iframeParams.join('&');
      }
    `}></script>
    <CallCTA />
  </div>
</Layout>
