---
import { BUSINESS } from '~/data/business';
import { SERVICES } from '~/data/services';
import { COUNTIES } from '~/data/locations';
---

<footer class="maintext" style="margin-top:40px;">
  <h2>{BUSINESS.name}</h2>
  <p>
    <strong>Phone:</strong>
    <a style="color:#fff;" href={BUSINESS.phoneTel}>{BUSINESS.phoneDisplay}</a>
  </p>
  <p>
    <strong>Email:</strong>
    <a style="color:#fff;" href={`mailto:${BUSINESS.email}`}>{BUSINESS.email}</a>
  </p>
  <p><strong>Hours:</strong> {BUSINESS.hoursDisplay}</p>
  <p>{BUSINESS.bookingNote}</p>

  <h3>Service Areas</h3>
  <ul role="list" style="margin-left:30px;">
    {COUNTIES.map((county) => (
      <li>
        <a style="color:#fff;" href={`/service-area/${county.slug}/`}>{county.name}</a>
      </li>
    ))}
  </ul>

  <h3>Repair Services</h3>
  <ul role="list" style="margin-left:30px;">
    {SERVICES.map((s) => (
      <li>
        <a style="color:#fff;" href={`/services/${s.slug}/`}>{s.title}</a>
      </li>
    ))}
  </ul>

  <p style="margin-top:20px;">
    <a style="color:#fff;" href="/">Home</a> &nbsp;|&nbsp;
    <a style="color:#fff;" href="/services/">Services</a> &nbsp;|&nbsp;
    <a style="color:#fff;" href="/error-codes/">Error Codes</a> &nbsp;|&nbsp;
    <a style="color:#fff;" href="/models/">Models</a> &nbsp;|&nbsp;
    <a style="color:#fff;" href="/service-area/">Service Area</a> &nbsp;|&nbsp;
    <a style="color:#fff;" href="/book">Book Online</a> &nbsp;|&nbsp;
    <a style="color:#fff;" href="/sitemap-index.xml">Sitemap</a>
  </p>
</footer>
